body{
    width: 1500px;
    height: 800px;
    background-color: #c26767;
}
#qb{
    width: 700px;
    height: 1000px;
    margin-left: 400px;
    background-color: #be908f;
}
#top-img{
    width: 700px;
    height: 45px;
    background-color: #be908f;
    position: relative;
}
#top-img img{
    margin-top: 10px;
    margin-left: 20px;
}
#top-img a{
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    top: -10px;
    font-size: 18px;
    font-family: "楷体";
}
#top{
    width: 670px;
    height: 40px;
    background-color: #c26767;
    border-left: 15px solid #be908f;
    border-right: 15px solid #be908f;
}
#top ul li{
    list-style-type: none;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-top: 7px;
    padding-left: 45px;
}
#top ul li a{
    text-decoration: none;
    color: white;
}
#top-img2{
    width: 670px;
    height: 400px;
    margin-left: 15px;
}
#top-img2 img{
    width: 670px;
    height: 400px;
}
#bottom{
    width: 670px;
    height: 250px;
    margin-left: 15px;
}
#bottom img{
    width: 220px;
    height: 200px;
}